.donate-button::after {
  width: 111px;
  height: 53px;
  content: '';
  position: absolute;

  right: calc(100% + 12px);
  animation: shake 30s ease-in-out 0s infinite;
  transition: opacity 30s ease-in-out;
  transition-delay: 10s;
  
  pointer-events: none;
  background-image: url('../img/arrow.png');
}

.donate-button.hidden::after {
  transition: opacity 0s;
  opacity: 0;
}
